nav{
    background-color: rgba(0,0,0,0.2);
    max-width: 100%;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

 
}

.navbar{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    font-size: 1.5rem;
    list-style: none;
    font-weight: bold;
    width:70%;
    color: white;

    
   
}



.navLink{
    color: white;
    text-decoration: none;
}

img{
    max-width: 100%;
width: 150px;    
height: auto;

}

.imgNav{
    display: flex;
    width: auto;
    height: auto;
}