.cartList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    max-width: 100%;
    width: 800px;
    min-height:700px;
    height: auto;
    border-radius: 5px;
    margin: 20px;
    gap: 15px;
}
.itemCart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;      
    border-width:  0px 0px 1px 0px;    
    border-style: solid;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 15px;
    
}

.btnBlack{
    border-radius: 10px;
    background: #2e3031;
    color: rgba(255, 255, 255, 0.835);
    font-size: 1rem;
    width: 200px;
    height: 50px;
    font-weight: bold;
    border-style: none;
}

.head{
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 100%;
    
}
.head div{
    display: flex;
    align-items: center;
   gap: 20px
}

.carritoVacio{
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}