.ItemCountContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}

.itemHead{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 50px;
    width: 200px;
    background-color: #FFFFFF;
    margin-bottom: 15px;
    font-size: 1.2rem;
  
}

p{
    color: black;

}

.btnCount{
    color: black;
    background: none;
    box-shadow: 0;
    border-style: none;
}


.btnBlue{
    border-radius: 10px;
    border-style: ridge;
    background: none;
    color: #15171a;
    border-color: rgb(255,255,255,0.5);
    font-size: 1rem;
    width: 200px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
}
